<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @slide.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @slide.body %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @slide.presentation_id %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
