<h1>Listing feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.customer_id %></td>
        <td><%= feedback.content %></td>
        <td><%= link_to 'Show', feedback %></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback', new_feedback_path %>
<%= link_to 'Back to customer', customers_path %>
<br><br>
Use Reveal.js for presentation<br>
<input id='generate' type="submit" value="Generate Presentation"><br>
<input id='email' type="submit" value="Email to Customer">
